#cockpitBackground {
	background-image: url("../images/cockpitOverlay2b.png");
	height: 1080px;
	width: 1920px;
	position: absolute;
	bottom: 0px;
	/*
	left: 50%;
	margin-left: -540px;
	*/
}

#hud {
	/*
	height: 300px;
    width: 300px;

	border-left: thick outset #39FF14;
	border-right: thick outset #39FF14;
    display: block;
    position: absolute;
    top: 20%;

    padding: 5px;
    z-index: 100;
	left: 50%;
	margin-left: -150px;
	*/
	
    height: 446px;
    width: 449px;
    border-left: thick outset #39FF14;
    border-right: thick outset #39FF14;
    display: block;
    position: absolute;
    bottom: 406px;
    padding: 5px;
    z-index: 100;
    left: 50%;
    margin-left: -232px;
}

.hudElement {
	color: #39FF14;
}

.activeElement {
	border: 1px solid #39FF14 !important;
}

#name {
	position: absolute;
	left: 120px;
	bottom: 10px;
}

#probeDistance {
	height: 35px;
	width: 200px;
	position: absolute;
	left: -215px;
	top: 0px;
	background-color: #39FF14;
	opacity: 0.2;
}

#probeDistanceValueHolder {
	height: 35px;
	width: 200px;
	position: absolute;
	left: -215px;
	top: 0px;
	border: 1px solid #267340;
}

#dockOption {
	height: 35px;
	width: 200px;
	position: absolute;
	left: -215px;
	top: 40px;
	background-color: #39FF14;
	opacity: 0.2;
}

#dockOptionHolder {
	height: 35px;
	width: 200px;
	position: absolute;
	left: -215px;
	top: 40px;
	border: 1px solid #267340;
}

.dockOptionValue1 {
	position: absolute;
	left: 50px;
	top: 9px;
}

.dockOptionValue2 {
	position: absolute;
	left: 62px;
	top: 9px;
}

#speedOption {
	height: 35px;
	width: 200px;
	position: absolute;
	left: -215px;
	top: 80px;
	background-color: #39FF14;
	opacity: 0.2;
}

#speedOptionHolder {
	height: 35px;
	width: 200px;
	position: absolute;
	left: -215px;
	top: 80px;
	border: 1px solid #267340;
}

.speedOptionValue1 {
	position: absolute;
	left: 62px;
	top: 9px;
}

.speedOptionValue2 {
	position: absolute;
	left: 65px;
	top: 9px;
}

#weaponBox {
    height: 117px;
    width: 260px;
    position: absolute;
    left: 395px;
    bottom: -152px;
	/*
	background-color: #39FF14;
	opacity: 0.2;
	*/
}

#weaponBoxHolder {
    height: 117px;
    width: 260px;
    position: absolute;
    left: 395px;
    bottom: -152px;
	/*border: 1px solid #267340;*/
}

#radarBox {
	height: 200px;
	width: 200px;
	position: absolute;
	left: -200px;
	top: 500px;
	background-color: #39FF14;
	opacity: 0.2;
}

#radarBoxHolder {
	height: 200px;
	width: 200px;
	position: absolute;
	left: -200px;
	top: 500px;
	border: 1px solid #267340;
}

#radarViewRange {
	position: absolute;
	right: -25px;
	top: 15px;
}

#radarViewTitle {
	position: absolute;
	right: -28px;
	top: 5px;
}

#radarLockActive {
	position: absolute;
	right: -25px;
	top: 45px;
}

#radarLockTitle {
	position: absolute;
	right: -28px;
	top: 35px;
}

.radarObject {
	position: absolute;
	left: 62px;
	top: 9px;
}

.locked {
	color: #ffff00;
}

#tracking-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	border: 1px solid #267340;
}

.radarElement {
	position: absolute;
}